@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Sniglet:wght@400;800&display=swap');

@import 'tailwindcss';

/* Custom Classic Scrollbar with Purple & Dark Theme */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;  /* Sleek and thin width */
  height: 6px; /* Horizontal scrollbar ke liye */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Aapka main background color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2C1352; /* Deep Purple Scrollbar Thumb */
  border-radius: 10px;
  /* Halka sa border track aur thumb mein separation ke liye */
  border: 1px solid #110E1F; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #411d77; /* Hover karne par purple thoda bright ho jayega */
  cursor: pointer;
}

/* Firefox Support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2C1352 transparent;
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@layer base {
  :root {
    --clr-primary: #7F77DD;
    --clr-secondary: #262624;
    --clr-grey1: #30302E;
    --clr-grey2: #C2C0B6;
    --clr-pink: #EEEDFE;

  }

  a {
    color: inherit;
  }

  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --color-primary: #7F77DD;
  --color-secondary: #262624;
  --color-grey1: #30302E;
  --color-grey2: #C2C0B6;
  --color-pink: #EEEDFE;
  --breakpoint-xs: 480px;

}


@utility font-dancing {
  font-family: 'Dancing Script', cursive;
}

@utility font-dosis {
  font-family: 'Dosis', sans-serif;
}

@utility font-sniglet {
  font-family: 'sniglet', sans-serif;
}